body {
  color: #fff; 
  background: #9a1317;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 30px;
  }

main {
   color: #f47f00;
}

main a {
  color: #f0f0f0;
  margin: 5px;
  text-decoration: none;
}